body{
    background-color: beige;
    text-align: center;
}
.title
{
    font-size: 25px;
    font-family: sans-serif;
    text-align:center;
    text-decoration: underline
}
input{
    border-radius: 5px;
    border: 1px solid gray;
}
form{
      font-family: sans-serif;
    border: solid 1px black;
    border-radius: 5px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
label{
    display: block;
    font-weight:bolder ;
    padding: 5px;
}
input:hover{
    border: 1px solid black;
}
#click{
    width: 120px;
    height: 30px;
    font-weight: bold;
}
#click:hover{
   background-color: white;
    box-shadow: 1px;
}
#click:active{
    margin-top: 1px;
}